/** @format */

.App {
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;

  box-sizing: border-box;
  width: 100%;
}

.input-group select,
.input-group input {
  flex-basis: 65%;
}

.input-box {
  margin-bottom: 15px;
}

.btn {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  background-color: #ff7300;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group__item {
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.input-group__label {
  margin-left: 10px;
  width: 100%;
  flex-basis: 30%;
}

.btn__show__offers {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn__show__offers:hover {
  background-color: #0062cc;
}

.offers {
  display: flex;
  flex-wrap: wrap;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.offer img {
  width: 100%;
  height: auto;
}

.offer-canvas {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  color: black;
}
@media only screen and (max-width: 600px) {
  .App {
    max-width: 100%;
  }

  label,
  input,
  select {
    margin-left: 0;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group__item {
    flex: 1;
    margin-left: 20px;
  }

  .input-group__label {
    margin-left: 0;
    margin-bottom: 5px;
  }

  button[type="submit"] {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .App {
    max-width: 600px;
  }
}
